    {% for incidente in incidentes %}

            <div class="form_denuncia_widget form_div_field">
                <input type="radio" name="denunciatype[incidente_existente]" value="{{ incidente.id }}" id="denunciatype_incidente_existente_{{ incidente.id }}">
                <label for="denunciatype_incidente_existente_{{ incidente.id }}">
                    <b class="titulo_denuncia">{{ incidente.id }}: 
                    {% for denuncia in incidente.denuncias %}
                        {% for subcategoria in denuncia.subcategorias %}
                            {{ subcategoria.nombre }}, 
                        {% endfor %}
                        </b>
                        :<br>
                        {{ denuncia.relato }}
                        <br>
                    {% else %}
                        No hay denuncias en incidente.denuncias
                    {% endfor %}
                </label>
            </div>
    {% else %}
        <p>No hay incidentes adicionales!</p>
    {% endfor %}
