{% extends 'Orion7CoreBundle::layout.html.twig' %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="flash-notice">
	        {{ flashMessage }}
	    </div>
	{% endfor %}


	{% if filtrado == 0 %}
    	<p><b>Titulo por formatear: Denuncias por filtrar</b></p>
    {% endif %}
    {% if filtrado == 1 %}
    	<p><b>Titulo por formatear: Denuncias filtradas</b></p>
    {% endif %}
    <table class="tabla_filtro">
    <tr>
		<th>
            Usuario
        </th>
        <th class="td_espacio"></th>
        <th>
            Hora
        </th>
        <th class="td_espacio"></th>
        <th width="400px">
        	Relato
        </th>
        <th class="td_espacio"></th>
        <th>
        	Centro
        </th>
        <th class="td_espacio"></th>
         {% if is_granted('ROLE_FILTRO') %}
         <th>
         	Editar
         </th>
		 {% endif %}
	</tr>
    {% for denuncia in denuncias %}

    	{% if denuncia.isFiltrado == filtrado %}
    		<tr class="lista_tabla">
    			<td>
		            <span class="highlight">{{ denuncia.usuarioRegistro }}</span>
		        </td>
		        <td></td>
		        <td>
		            <time datetime="{{ denuncia.horaRegistro|date('c') }}" pubdate="pubdate">{{ denuncia.horaRegistro|date('g:i a') }}</time>
		        </td>
		        <td></td>
		        <td width="300px">
		        	{{ denuncia.relato }}
		        </td>
		        <td></td>
		        <td>
		        	{{ denuncia.incidente.centro.nombre|title }}
		        </td>
		        <td></td>
		         {% if is_granted('ROLE_FILTRO') %}
		         <td>
		         	<a href="#">Editar</a>
		         </td>
	    		 {% endif %}
	    	</tr>
    	{% endif %}
	{% else %}
		{% if filtrado == 0 %}
	    	<p>No hay denuncias por filtrar!</p>
	    {% endif %}
	    {% if filtrado == 1 %}
	    	<p>No hay denuncias filtradas</p>
	    {% endif %}
	{% endfor %}
	</table>
{% endblock %}