{% extends 'Orion7CoreBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/orion7core/js/chosen/chosen.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/orion7core/js/chosen/chosen.jquery.min.js') }}" type="text/javascript"></script>

	<script type="text/javascript"> 
		$(".chzn-select").chosen(); 
		$(".chzn-select-deselect").chosen({allow_single_deselect:true}); 
	</script>

	<script>
	$(function() {
		// Select dependiente cuando se cambia estado
		$('#denunciatype_estado').chosen().change(function() {
        	estado=$(this).val();
			$.post("{{ path('Orion7CoreBundle_selects_municipio') }}", { estado: estado }, function(data){
				$("#denunciatype_municipio").html(data);
				$("#denunciatype_municipio").trigger("liszt:updated");
				$("#denunciatype_parroquia").html("");
				$("#denunciatype_centro").html("");
			});
		});	 	
		// Select dependiente cuando se cambia municipio
		$('#denunciatype_municipio').chosen().change(function() {
			municipio=$(this).val();
			$.post("{{ path('Orion7CoreBundle_selects_parroquia') }}", { municipio: municipio }, function(data){
				$("#denunciatype_parroquia").html(data);
				$("#denunciatype_parroquia").trigger("liszt:updated");
				$("#denunciatype_centro").html("");
			});	
		});	
		// Select dependiente cuando se cambia parroquia
		$('#denunciatype_parroquia').chosen().change(function() {
			parroquia=$(this).val();
			$.post("{{ path('Orion7CoreBundle_selects_centro') }}", { parroquia: parroquia }, function(data){
				$("#denunciatype_centro").html(data);
				$("#denunciatype_centro").trigger("liszt:updated");
			});
		});	 	

		// cambio de codigo del centro de votación

		function calculaCentro(){
			codigo_centro=$('#denunciatype_codigo_centro').val();
			$.post("{{ path('Orion7CoreBundle_selects_codigo_centro') }}", { codigo_centro: codigo_centro }, function(data){
				var obj = jQuery.parseJSON(data);
				estado = obj.estado;
				municipio = obj.municipio;
				parroquia = obj.parroquia;

				$("#denunciatype_estado option[value="+estado+"]").attr("selected",true);
				$("#denunciatype_estado").trigger("liszt:updated");

				//alert( parroquia );
				$.post("{{ path('Orion7CoreBundle_selects_municipio') }}", { estado: estado }, function(data){
					$("#denunciatype_municipio").html(data);
					$("#denunciatype_municipio option[value="+municipio+"]").attr("selected",true);
					$("#denunciatype_municipio").trigger("liszt:updated");
					$.post("{{ path('Orion7CoreBundle_selects_parroquia') }}", { municipio: municipio }, function(data){
						$("#denunciatype_parroquia").html(data);
						$("#denunciatype_parroquia option[value="+parroquia+"]").attr("selected",true);
						$("#denunciatype_parroquia").trigger("liszt:updated");
						$.post("{{ path('Orion7CoreBundle_selects_centro') }}", { parroquia: parroquia }, function(data){
							$("#denunciatype_centro").html(data);
							$("#denunciatype_centro option[value="+codigo_centro+"]").attr("selected",true);
							$("#denunciatype_centro").trigger("liszt:updated");
						});
					});	
				});

				$("#tabs").tabs("select", "#tabs-1");
			});
		}
		$('#boton_centro').click(function() {
			calculaCentro()
		});	

		// cambio de cedula del elector

		function calculaCedula(){
			//cedula_elector=$(this).val();
			cedula_elector=$('#denunciatype_cedula_elector').val();
			$.post("{{ path('Orion7CoreBundle_selects_cedula_elector') }}", { cedula_elector: cedula_elector }, function(data){	
				var obj = jQuery.parseJSON(data);
				estado = obj.estado;
				municipio = obj.municipio;
				parroquia = obj.parroquia;
				codigo_centro = obj.centro;
				nombre_elector = obj.nombre;
				$("#denunciatype_estado option[value="+estado+"]").attr("selected",true);
				$("#denunciatype_estado").trigger("liszt:updated");
				$.post("{{ path('Orion7CoreBundle_selects_municipio') }}", { estado: estado }, function(data){
					$("#denunciatype_municipio").html(data);
					$("#denunciatype_municipio option[value="+municipio+"]").attr("selected",true);
					$("#denunciatype_municipio").trigger("liszt:updated");
					$.post("{{ path('Orion7CoreBundle_selects_parroquia') }}", { municipio: municipio }, function(data){
						$("#denunciatype_parroquia").html(data);
						$("#denunciatype_parroquia option[value="+parroquia+"]").attr("selected",true);
						$("#denunciatype_parroquia").trigger("liszt:updated");
						$.post("{{ path('Orion7CoreBundle_selects_centro') }}", { parroquia: parroquia }, function(data){
							$("#denunciatype_centro").html(data);
							$("#denunciatype_centro option[value="+codigo_centro+"]").attr("selected",true);
							$("#denunciatype_centro").trigger("liszt:updated");
						});
					});	
				});
				$('#denunciatype_nombre_denunciante').val(nombre_elector);
				$("#tabs").tabs("select", "#tabs-1");
			});
		}

		$('#boton_cedula').click(function() {
			calculaCedula();
		});	
	});
	</script>

	<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
    </script>
{% endblock %}

{% block body %}
	<div id="formulario_denuncia">
    <form action="{{ path('Orion7CoreBundle_denuncia_homepage') }}" method="post" {{ form_enctype(form) }}>
	    
	    {{ form_errors(form) }}

		<div class="form_div_field">
		    {{ form_errors(form.via) }}
		    {{ form_widget(form.via, { 'attr': {'class': 'chzn-select form_denuncia_widget', 'data-placeholder': 'Vía de ingreso de la denuncia'} }) }}
		</div>
		<div class="form_div_field">
		    {{ form_errors(form.relato) }}
		    {{ form_widget(form.relato, { 'attr': {'class': 'form_denuncia_ta ui-widget ', 'placeholder': ' Relato'} }) }}
		</div>
		<div id="tabs" class="form_div_field">
    <ul>
        <li><a href="#tabs-1">Listados</a></li>
        <li><a href="#tabs-2">Código de Centro</a></li>
        <li><a href="#tabs-3">Cédula Elector</a></li>
    </ul>
    <div id="tabs-1">
        <div class="form_div_field">
		    {{ form_errors(form.estado) }}
		    {{ form_widget(form.estado, { 'attr': {'class': 'chzn-select form_denuncia_widget2', 'data-placeholder': 'Estado'} }) }}
		</div>
		<div class="form_div_field">
		    {{ form_errors(form.municipio) }}
		    {{ form_widget(form.municipio, { 'attr': {'class': 'chzn-select form_denuncia_widget2', 'data-placeholder': 'Municipio'} }) }}
		</div>
		<div class="form_div_field">
		    {{ form_errors(form.parroquia) }}
		    {{ form_widget(form.parroquia, { 'attr': {'class': 'chzn-select form_denuncia_widget2', 'data-placeholder': 'Parroquia'} }) }}
		</div>
		<div class="form_div_field">
		    {{ form_errors(form.centro) }}
		    {{ form_widget(form.centro, { 'attr': {'class': 'chzn-select form_denuncia_widget2', 'data-placeholder': 'Centro de votación'} }) }}
		</div>
    </div>
    <div id="tabs-2">
        <div class="form_div_field">
		    {{ form_errors(form.codigo_centro) }}
		    {{ form_widget(form.codigo_centro, { 'attr': {'class': 'form_denuncia_widget2_2 ui-widget form_fix_v', 'placeholder': ' Código del Centro de Votación'} }) }}
		    <button type="button" id="boton_centro" class="ui-widget form_fix_v">-></button>
		</div>
    </div>
    <div id="tabs-3">
        <div class="form_div_field">
		    {{ form_errors(form.cedula_elector) }}
		    {{ form_widget(form.cedula_elector, { 'attr': {'class': 'form_denuncia_widget2_2 ui-widget form_fix_v', 'placeholder': ' Cédula del elector'} }) }}
		    <button type="button" id="boton_cedula" class="ui-widget form_fix_v">-></button>
		</div>
    </div>
</div>
		
		<div class="form_div_field">
		    {{ form_errors(form.categoria) }}
		    {{ form_widget(form.categoria, { 'attr': {'class': 'chzn-select form_denuncia_widget', 'data-placeholder': 'Subcategorías asociadas'} }) }}
		</div>

		<div id="incidentes_existentes" class="form_div_field">
			<input type="radio" value="0" id="incidente_n"> <label for="incidente_n">Nuevo Incidente</label>
		</div>

		<div class="form_div_field">
		    {{ form_errors(form.tipo_denunciante) }}
		    {{ form_widget(form.tipo_denunciante, { 'attr': {'class': 'chzn-select form_denuncia_widget', 'data-placeholder': 'Rol del denunciante'} }) }}
		</div>
		<div class="form_div_field">
		    {{ form_errors(form.responsables) }}
		    {{ form_widget(form.responsables, { 'attr': {'class': 'chzn-select form_denuncia_widget', 'data-placeholder': 'Responsables de la situación'} }) }}
		</div>
		<div class="form_div_field">
		    {{ form_errors(form.hora_hecho) }}
		    {{ form_widget(form.hora_hecho, { 'attr': {'class': 'form_denuncia_widget ui-widget'} }) }}
		</div>
		<div class="form_div_field">
		    {{ form_errors(form.nombre_denunciante) }}
		    {{ form_widget(form.nombre_denunciante, { 'attr': {'class': 'form_denuncia_widget ui-widget form_fix_v', 'placeholder': ' Nombre del Denunciante'} }) }}
		</div>
		<div class="form_div_field">
		    {{ form_errors(form.telefono_denunciante) }}
		    {{ form_widget(form.telefono_denunciante, { 'attr': {'class': 'form_denuncia_widget ui-widget form_fix_v', 'placeholder': ' Teléfonos del Denunciante'} }) }}
		</div>
		<div class="form_div_field">
		    {{ form_errors(form.correo_denunciante) }}
		    {{ form_widget(form.correo_denunciante, { 'attr': {'class': 'form_denuncia_widget ui-widget form_fix_v', 'placeholder': ' Correo del Denunciante'} }) }}
		</div>
		<div class="form_div_field">
		    {{ form_errors(form.twitter_denunciante) }}
		    {{ form_widget(form.twitter_denunciante, { 'attr': {'class': 'form_denuncia_widget ui-widget form_fix_v', 'placeholder': ' Twitter del Denunciante'} }) }}
		</div>

		{{ form_rest(form) }}

	    <input type="submit" />
	</form>
	</div>
{% endblock %}