{% for canalizacion in canalizaciones %}
    <article class="canalizacion {{ cycle(['odd', 'even'], loop.index0) }}" id="canalizacion-{{ canalizacion.id }}">
        <header>
            <p><span class="highlight">{{ canalizacion.usuario }}</span> a las <time datetime="{{ canalizacion.horaRegistro|date('c') }}" pubdate="pubdate">{{ canalizacion.horaRegistro|date('g:i a') }}</time></p>
        </header>
        <p>TODO: agregar entes. El comentario es: {{ canalizacion.comentario }}</p>
    </article>
{% else %}
    <p>No hay canalizaciones para el incidente. Canaliza o marca como resuelto!</p>
{% endfor %}

{% render "Orion7CoreBundle:Canalizacion:new" with {'incidenteId': incidenteId} %}