{% extends 'Orion7CoreBundle::layout.html.twig' %}

{% block body %}
{% if resuelto == 0 %}
    <p><b>Titulo por formatear: Incidentes por canalizar</b></p>
{% endif %}
{% if resuelto == 1 %}
    <p><b>Titulo por formatear: Incidentes canalizados</b></p>
{% endif %}
{% for incidente in incidentes %}
    {% if incidente.resuelto == resuelto %}
            <div>
                <label for="denunciatype_incidente_existente_{{ incidente.id }}">
                    <a class="titulo_denuncia" href="{{ path('Orion7CoreBundle_canalizaciones_incidente', { 'incidenteId': incidente.id }) }}">{{ incidente.id }}: </a>
                    {% for denuncia in incidente.denuncias %}
                        {% for subcategoria in denuncia.subcategorias %}
                            <b class="ui-state-default">{{ subcategoria.nombre }}, </b>
                        {% endfor %}
                        
                        :<br>
                        {{ denuncia.relato }}
                        <br>
                    {% else %}
                        No hay denuncias en incidente.denuncias
                    {% endfor %}
                </label>
            </div>
    {% endif %}
{% else %}
    {% if filtrado == 0 %}
            <p>No hay incidentes asignados por canalizar!</p>
        {% endif %}
        {% if filtrado == 1 %}
            <p>No hay incidentes asignados canalizados!</p>
        {% endif %}
{% endfor %}
{% endblock %}
